# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*

# Databases
*.db
*.sqlite3

# Logs
*.log

# VSCode
.vscode/

# Python virtual envs
venv/
.venv/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Azure
.azure/

# Build artifacts
dist/
build/

# PyInstaller
*.spec